.profile-image-card {
	width: 60px;
	height: 60px;
	overflow: hidden;
}

.profile-image {
	width: 60px;
}

.player-card {
	background-color: var(--main-bg-color);
	width: 200px;
	height: 100px;
}

.player-name {
	color: var(--pink);
	font-size: 4rem;
	font-weight: bold;
	text-align: center;
}

.turn {
	text-align: center;
}