@import '../../css/variables.css';

.wrapper {
	width: 100%;
	background-color: var(--main-bg-color);
	text-align: center;
}

.games {
	display: grid;
	grid-template-columns: 1fr 2px 1fr;
	width: 100%;
	min-height: calc(100vh - 170px);
}

.game-link {
	display: flex;
	gap: 1rem;
	flex-direction: column;
	height: 100%;
	font-size: 1.5rem;
	padding: 1rem;
	transition: background-color 0.2s;
	transition-timing-function: ease-in-out;
}

.game-link:hover {
	background-color: var(--green);
	color: black;
}

.middle-line {
	background-color: aliceblue;
}