.container {
	display: grid;
	grid-template-columns: auto 350px auto;
	grid-template-areas: "player1 game player2";
	background-color: var(--main-bg-color);
	min-height: calc(100vh - 170px);
	padding: 2rem 0;
}

@media screen and (max-width: 768px) {
	.container {
		grid-template-columns: 1fr;
		grid-template-areas:
			"game"
			"player1"
			"player2";
	}
}

.player1 {
	grid-area: player1;
	display: flex;
	justify-content: center;
	padding: 0 2rem;
}

.player2 {
	grid-area: player2;
	display: flex;
	justify-content: center;
	padding: 0 2rem;
}

.game {
	grid-area: game;
	max-width: 400px;
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 0 auto;
}

.menu {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 1rem;
	max-width: 400px;
	padding: 2rem 1rem 1rem 1rem;
}

table {
	border-collapse: separate;
	border-spacing: 15px 15px;
}

table td {
	box-shadow: 0px 0px 20px 10px var(--blue);
	width: 100px;
	height: 100px;
	font-weight: bold;
	text-align: center;
	font-size: 4rem;
	vertical-align: middle;
}

table td {
	cursor: pointer;
}

table td span {
	display: block;
	padding-bottom: 20px;
}

button,
button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

button:hover {
	cursor: pointer;
	opacity: 0.8;
}