.container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-areas: "player1 game player2";
	background-color: var(--main-bg-color);
	min-height: calc(100vh - 170px);
	padding: 2rem 0;
}

@media screen and (max-width: 768px) {
	.container {
		gap: 2rem;
		grid-template-columns: 1fr;
		grid-template-areas:
			"game"
			"player1"
			"player2";
	}
}

.player1 {
	grid-area: player1;
	display: flex;
	justify-content: center;
	padding: 0 2rem;
}

.player2 {
	grid-area: player2;
	display: flex;
	justify-content: center;
	padding: 0 2rem;
}

.game {
	grid-area: game;
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 0 auto;
}

.menu {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 1rem;
	max-width: 400px;
	padding: 2rem 1rem 1rem 1rem;
}

table {
	border-collapse: separate;
	border-spacing: 15px 15px;
	width: 100%;
}

button,
button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

button:hover {
	cursor: pointer;
	opacity: 0.8;
}

.waiting {
	text-align: center;
	animation-name: stretch;
	animation-duration: 0.3s;
	animation-timing-function: ease-in-out;
	animation-direction: alternate-reverse;
	animation-iteration-count: infinite;
	animation-play-state: running;
}

@keyframes stretch {
	0% {
		transform: scale(1);
	}

	100% {
		transform: scale(1.05);
	}
}