.win-modal {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 1rem;
	top: 30%;
	padding: 0 1rem;
}

.heading {
	font-weight: bold;
	font-size: 6rem;
	text-align: center;
	animation-name: stretch;
	animation-duration: 0.3s;
	animation-timing-function: ease-in-out;
	animation-direction: alternate-reverse;
	animation-iteration-count: infinite;
	animation-play-state: running;
}

.win {
	color: white;
	text-shadow: 0px 0px 15px var(--green);
	-webkit-text-stroke: 1px black;
}

.lose {
	color: white;
	text-shadow: 0px 0px 15px red;
	-webkit-text-stroke: 1px black;
}

.draw {
	color: white;
	text-shadow: 0px 0px 15px var(--blue);
	-webkit-text-stroke: 1px black;
}


@keyframes stretch {
	0% {
		transform: scale(1);
	}

	100% {
		transform: scale(1.05);
	}
}